<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Sid.Properties.Settings>
            <setting name="GraphFilter" serializeAs="String">
                <value>Sid Graph Files|*.sidg|Sid Graph Interchange Files|*.sidgx|All Files (*.*)|*.*</value>
            </setting>
        </Sid.Properties.Settings>
    </applicationSettings>
</configuration>